<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ben Florentino Professional Portfolio</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/style.css">

</head>
<body>
    <div class="container-fluid">
        <nav class="navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">Ben Florentino</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="nav justify-content-center">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="portfolio.html">Portfolio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact Me</a>
                </li>
              </ul>
            </div>
        </nav>
        <div class="card-deck">
            <div class="card">
              <img src="https://cdn.vox-cdn.com/thumbor/vSti8DPzVbwilZ1I4LSER2Qun_8=/0x0:2040x1360/920x613/filters:focal(857x517:1183x843):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/64900316/acastro_180510_1777_siri_0001.0.jpg" class="card-img-top" alt="...">
              <div class="card-body bg-dark text-white">
                <h5 class="card-title">Liri Bot</h5>
                <p class="card-text">LIRI is a Language Interpretation and Recognition Interface. It is a command line node app that takes on four commands and returns the relative data.</p>
                <button type="button" class="btn btn-light"><a href="https://github.com/florentinob/liri-bot-app">View Project</a></button>
              </div>
            </div>
            <div class="card">
              <img src="https://media.wired.com/photos/5c9040ee4950d24718d6da99/master/w_2560%2Cc_limit/shoppingcart-1066110386.jpg" class="card-img-top" alt="...">
              <div class="card-body bg-dark text-white">
                <h5 class="card-title">Bamazon</h5>
                <p class="card-text">Bamazon is a customer-friendly portal, where the user has the ability to choose a product in the inventory and make a purchase with a specific quantity. However, the if the store doesn't have enough quantity to meet the user's order, the purchase will not be processed.</p>
                <button type="button" class="btn btn-light"><a href="https://github.com/florentinob/bamazon">View Project</a></button>
              </div>
            </div>
            <div class="card">
              <img src="https://media4.s-nbcnews.com/j/newscms/2019_23/2885811/190606-border-collie-mc-1318_5b1706791f4ae9ddb3029540a98f7e08.fit-2000w.JPG" class="card-img-top" alt="...">
              <div class="card-body bg-dark text-white">
                <h5 class="card-title">Spot On! Rescue</h5>
                <p class="card-text">Using the Petfinder API, this app presents the user with available dogs for adoption that meet the parameters of their answers based on a questionaire.</p>
                <button type="button" class="btn btn-light"><a href="https://smogil12.github.io/Pet-Project/">View Project</a></button>
              </div>
            </div>
            <div class="card">
                <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/8/shutterstock_239412661.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark text-white">
                  <h5 class="card-title">Link Up</h5>
                  <p class="card-text">App takes in user preferences and creates an event where 2 people can "link up". Events are created with the help of the Yelp Fusion API.</p>
                  <button type="button" class="btn btn-light"><a href="https://bootcampproj2.herokuapp.com/">View Project</a></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>